.DS_Store
/.hie
/.stack-work
/dist
/dist-newstyle
/output
*~
*.swo
*.swp
/docs/*.aux
/docs/*.bbl
/docs/*.blg
/docs/*.fdb_latexmk
/docs/*.fls
/docs/*.log
/docs/*.nav
/docs/*.out
/docs/*.pdf
/docs/*.pyg
/docs/*.snm
/docs/*.synctex.gz
/docs/*.toc
/docs/__latexindent_temp.tex
/docs/_minted-*
